<html>
    <head>
        <link rel="stylesheet" href="styles.css">
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2"></script>
        <script src="script.js"></script>
    </head>
    <body>
        <main>
            <div class="main_form__container">
                <form class="main_form" id="graph-form">
                    <label for="graph-form__by-country">By country:</label>
                    <select id="graph-form__by-country">
                        <option> -------- </option>
                        <option value="1">Population size</option>
                        <option value="2">Number of borders</option>
                        <option value="3">Number of timezones</option>
                        <option value="4">Number of languages</option>
                    </select> 

                    <label for="by-region">By region:</label>
                    <select id="by-region">
                        <option> -------- </option>
                        <option value="1">Number of countries in the region</option>
                        <option value="2">Number of unique timezones in the region</option>
                    </select>
                </form>
                <canvas id="bubble-chart" class="main_form__bubble-chart"></canvas>
                <div class="main_form__data_table">
                    <table id="data-table">
                        <thead>
                            <tr>
                                <th>Country Code</th>
                                <th>Value</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div> 
            </div>
        </main>
    </body>
</html>
